USE [lab1]
GO
/****** Object:  Table [dbo].[BannedWords]    Script Date: 16/04/2021 11:36:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BannedWords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bannedWord] [nvarchar](50) NULL,
 CONSTRAINT [PK_BannedWords] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 16/04/2021 11:36:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Messages_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NULL,
	[userid] [int] NULL,
	[To_userid] [char](50) NULL,
	[text_content] [char](999) NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Messages_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomMembers]    Script Date: 16/04/2021 11:36:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomMembers](
	[room_member_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NOT NULL,
	[userid] [int] NOT NULL,
 CONSTRAINT [PK_RoomMembers] PRIMARY KEY CLUSTERED 
(
	[room_member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 16/04/2021 11:36:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [char](99) NULL,
 CONSTRAINT [PK_rooms] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/04/2021 11:36:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [char](50) NULL,
	[date_of_birth] [date] NULL,
	[pw] [char](50) NULL,
	[sex] [char](10) NULL,
 CONSTRAINT [PK__users__CBA1B25707020F21] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BannedWords] ON 

INSERT [dbo].[BannedWords] ([id], [bannedWord]) VALUES (1, N'ccc')
INSERT [dbo].[BannedWords] ([id], [bannedWord]) VALUES (2, N'wtf')
INSERT [dbo].[BannedWords] ([id], [bannedWord]) VALUES (3, N'duma')
SET IDENTITY_INSERT [dbo].[BannedWords] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[RoomMembers] ON 

INSERT [dbo].[RoomMembers] ([room_member_id], [room_id], [userid]) VALUES (1, 1, 1)
INSERT [dbo].[RoomMembers] ([room_member_id], [room_id], [userid]) VALUES (2, 2, 2)
INSERT [dbo].[RoomMembers] ([room_member_id], [room_id], [userid]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[RoomMembers] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([room_id], [room_name]) VALUES (1, N'huyhue                                                                                             ')
INSERT [dbo].[Rooms] ([room_id], [room_name]) VALUES (2, N'giaphong                                                                                           ')
INSERT [dbo].[Rooms] ([room_id], [room_name]) VALUES (3, N'phuocbao                                                                                           ')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userid], [username], [date_of_birth], [pw], [sex]) VALUES (1, N'huyhue                                            ', CAST(N'2021-04-01' AS Date), N'123                                               ', N'male      ')
INSERT [dbo].[Users] ([userid], [username], [date_of_birth], [pw], [sex]) VALUES (2, N'giaphong                                          ', CAST(N'2021-04-09' AS Date), N'123                                               ', N'male      ')
INSERT [dbo].[Users] ([userid], [username], [date_of_birth], [pw], [sex]) VALUES (3, N'phuocbao                                          ', CAST(N'2021-04-02' AS Date), N'123                                               ', N'male      ')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_rooms]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_users] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_users]
GO
ALTER TABLE [dbo].[RoomMembers]  WITH CHECK ADD  CONSTRAINT [FK_RoomMembers_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[RoomMembers] CHECK CONSTRAINT [FK_RoomMembers_rooms]
GO
ALTER TABLE [dbo].[RoomMembers]  WITH CHECK ADD  CONSTRAINT [FK_RoomMembers_users] FOREIGN KEY([userid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[RoomMembers] CHECK CONSTRAINT [FK_RoomMembers_users]
GO
