USE [master]
GO
/****** Object:  Database [demoSpring]    Script Date: 21/05/2021 10:21:27 CH ******/
CREATE DATABASE [demoSpring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demoSpring', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\demoSpring.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demoSpring_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\demoSpring_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demoSpring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demoSpring]
GO
/****** Object:  Table [dbo].[address]    Script Date: 21/05/2021 10:21:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attachments]    Script Date: 21/05/2021 10:21:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[docfile] [varbinary](max) NULL,
	[name] [varchar](255) NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 21/05/2021 10:21:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [int] NOT NULL,
	[area] [int] NOT NULL,
	[can_contain] [int] NOT NULL,
	[descrisption] [varchar](255) NULL,
	[limit_time_rental] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[rental_period] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 21/05/2021 10:21:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[docfile] [varbinary](max) NULL,
	[name] [varchar](255) NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [code], [name]) VALUES (1, N'hh1', N'Hue')
INSERT [dbo].[address] ([id], [code], [name]) VALUES (2, N'hdn2', N'Da Nang')
INSERT [dbo].[address] ([id], [code], [name]) VALUES (3, N'hdt3', N'Can Tho')
SET IDENTITY_INSERT [dbo].[address] OFF
SET IDENTITY_INSERT [dbo].[attachments] ON 

INSERT [dbo].[attachments] ([id], [docfile], [name], [department_id]) VALUES (1, 0x, N'', 6)
INSERT [dbo].[attachments] ([id], [docfile], [name], [department_id]) VALUES (2, 0x, N'', 6)
INSERT [dbo].[attachments] ([id], [docfile], [name], [department_id]) VALUES (3, 0x, N'', 6)
SET IDENTITY_INSERT [dbo].[attachments] OFF
SET IDENTITY_INSERT [dbo].[department] ON 

INSERT [dbo].[department] ([id], [address], [area], [can_contain], [descrisption], [limit_time_rental], [name], [rental_period]) VALUES (1, 1, 1, 2, N'viet nam hom nay', 2, N'LanHP1', 2)
INSERT [dbo].[department] ([id], [address], [area], [can_contain], [descrisption], [limit_time_rental], [name], [rental_period]) VALUES (2, 2, 33, 2, N'des666szw', 10, N'huytpg', 5)
INSERT [dbo].[department] ([id], [address], [area], [can_contain], [descrisption], [limit_time_rental], [name], [rental_period]) VALUES (3, 1, 32, 2, N'viet nam hom nay', 1, N'LanHP111', 1)
SET IDENTITY_INSERT [dbo].[department] OFF
SET IDENTITY_INSERT [dbo].[images] ON 

INSERT [dbo].[images] ([id], [docfile], [name], [department_id]) VALUES (2, 0x, N'', 6)
SET IDENTITY_INSERT [dbo].[images] OFF
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD  CONSTRAINT [FKlq22qd3uavqso3wa3m75o975r] FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
GO
ALTER TABLE [dbo].[attachments] CHECK CONSTRAINT [FKlq22qd3uavqso3wa3m75o975r]
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD  CONSTRAINT [FKai3ogkigkyxvmvpnbmhhoaew6] FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
GO
ALTER TABLE [dbo].[images] CHECK CONSTRAINT [FKai3ogkigkyxvmvpnbmhhoaew6]
GO
USE [master]
GO
