USE [lab2]
GO
/****** Object:  Table [dbo].[BloodGroups]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodGroups](
	[bloodGroupId] [int] IDENTITY(1,1) NOT NULL,
	[bloodGroupName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[bloodGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookBeds]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookBeds](
	[bedId] [int] IDENTITY(1,1) NOT NULL,
	[datePlaced] [datetime] NULL,
	[departement] [varchar](255) NULL,
	[status] [bit] NOT NULL,
	[patient_id] [int] NULL,
	[room_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[diseaseId] [int] IDENTITY(1,1) NOT NULL,
	[disease] [varchar](255) NULL,
	[diseaseDate] [datetime] NULL,
	[note] [varchar](255) NULL,
	[employee_id] [int] NULL,
	[patient_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[diseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drugs]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drugs](
	[drugId] [int] IDENTITY(1,1) NOT NULL,
	[cost] [float] NOT NULL,
	[drug_expired] [datetime] NULL,
	[name] [varchar](255) NULL,
	[quantity] [int] NOT NULL,
	[startDate] [datetime] NULL,
	[employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[drugId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[type] [varchar](31) NOT NULL,
	[employeeId] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[dob] [datetime] NULL,
	[email] [varchar](255) NULL,
	[familyName] [varchar](255) NULL,
	[fatherName] [varchar](255) NULL,
	[firstName] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[joinDate] [datetime] NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[photo] [text] NULL,
	[username] [varchar](255) NULL,
	[CATEGORY_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[messageBody] [varchar](255) NULL,
	[messageDate] [datetime] NULL,
	[messageStatus] [bit] NOT NULL,
	[subject] [varchar](255) NULL,
	[from_employee_id] [int] NULL,
	[patient_id] [int] NULL,
	[fto_employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NextOfKin]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NextOfKin](
	[nextOfKinId] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[fullName] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[relationship] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[nextOfKinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NursesServiceTimes]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NursesServiceTimes](
	[nurseServiceTimeID] [int] IDENTITY(1,1) NOT NULL,
	[department] [varchar](255) NULL,
	[serviceDate] [datetime] NULL,
	[nurse_id] [int] NULL,
	[shiftTime_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nurseServiceTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patientId] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[dob] [datetime] NULL,
	[email] [varchar](255) NULL,
	[familyName] [varchar](255) NULL,
	[fatherName] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[joiningDate] [datetime] NULL,
	[name] [varchar](255) NULL,
	[phone] [numeric](19, 0) NOT NULL,
	[bloodGroup_id] [int] NULL,
	[nextOfKin_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[patientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[qualId] [int] IDENTITY(1,1) NOT NULL,
	[degree] [varchar](255) NULL,
	[instituteName] [varchar](255) NULL,
	[qualificationDate] [varchar](255) NULL,
	[qualificationName] [varchar](255) NULL,
	[employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[qualId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[roomId] [int] IDENTITY(1,1) NOT NULL,
	[numberOfAvailableBeds] [int] NOT NULL,
	[numberOfBeds] [int] NOT NULL,
	[roomNumber] [int] NOT NULL,
	[roomType_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[roomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[roomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[roomCost] [float] NOT NULL,
	[typeOfroom] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelledDrugs]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelledDrugs](
	[selledDrugID] [int] IDENTITY(1,1) NOT NULL,
	[endDate] [datetime] NULL,
	[quantity] [int] NOT NULL,
	[selledDate] [datetime] NULL,
	[startDate] [datetime] NULL,
	[unitPerDay] [varchar](255) NULL,
	[Drug_ID] [int] NULL,
	[patient_ID] [int] NULL,
	[pharmatiest_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[selledDrugID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftTimes]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftTimes](
	[shiftTimeID] [int] IDENTITY(1,1) NOT NULL,
	[fromTime] [varchar](255) NULL,
	[toTime] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[shiftTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperinces]    Script Date: 14/04/2021 11:28:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperinces](
	[workExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[endDate] [varchar](255) NULL,
	[nameOfOrganization] [varchar](255) NULL,
	[position] [varchar](255) NULL,
	[startDate] [varchar](255) NULL,
	[employee_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[workExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BloodGroups] ON 

INSERT [dbo].[BloodGroups] ([bloodGroupId], [bloodGroupName]) VALUES (1, N'A+')
INSERT [dbo].[BloodGroups] ([bloodGroupId], [bloodGroupName]) VALUES (2, N'B+')
INSERT [dbo].[BloodGroups] ([bloodGroupId], [bloodGroupName]) VALUES (3, N'O+')
SET IDENTITY_INSERT [dbo].[BloodGroups] OFF
SET IDENTITY_INSERT [dbo].[BookBeds] ON 

INSERT [dbo].[BookBeds] ([bedId], [datePlaced], [departement], [status], [patient_id], [room_id]) VALUES (1, CAST(N'2021-04-13T11:42:47.843' AS DateTime), N'DepartA', 1, 2, 2)
INSERT [dbo].[BookBeds] ([bedId], [datePlaced], [departement], [status], [patient_id], [room_id]) VALUES (4, CAST(N'2021-04-13T11:49:26.200' AS DateTime), N'DepartCD', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[BookBeds] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryId], [categoryName]) VALUES (5, N'BOO')
INSERT [dbo].[Categories] ([categoryId], [categoryName]) VALUES (6, N'Brain')
INSERT [dbo].[Categories] ([categoryId], [categoryName]) VALUES (4, N'Eye')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Diseases] ON 

INSERT [dbo].[Diseases] ([diseaseId], [disease], [diseaseDate], [note], [employee_id], [patient_id]) VALUES (1, N'hen', CAST(N'2021-04-13T22:09:43.753' AS DateTime), N'dieu tri manh ', 12, 3)
INSERT [dbo].[Diseases] ([diseaseId], [disease], [diseaseDate], [note], [employee_id], [patient_id]) VALUES (2, N'vien phe quan', CAST(N'2021-04-13T22:13:34.060' AS DateTime), N'nhieu, khoong suy giam', 12, 2)
INSERT [dbo].[Diseases] ([diseaseId], [disease], [diseaseDate], [note], [employee_id], [patient_id]) VALUES (3, N'ho ', CAST(N'2021-04-13T22:10:00.263' AS DateTime), N'nhieu, khoong suy giam', 12, 2)
SET IDENTITY_INSERT [dbo].[Diseases] OFF
SET IDENTITY_INSERT [dbo].[Drugs] ON 

INSERT [dbo].[Drugs] ([drugId], [cost], [drug_expired], [name], [quantity], [startDate], [employee_id]) VALUES (1, 7, CAST(N'2020-12-19T00:00:00.000' AS DateTime), N'thuoc', 4, CAST(N'2020-12-06T00:00:00.000' AS DateTime), 9)
INSERT [dbo].[Drugs] ([drugId], [cost], [drug_expired], [name], [quantity], [startDate], [employee_id]) VALUES (2, 4, CAST(N'2021-04-08T00:00:00.000' AS DateTime), N'thuoc1', 12, CAST(N'2021-04-05T00:00:00.000' AS DateTime), 9)
INSERT [dbo].[Drugs] ([drugId], [cost], [drug_expired], [name], [quantity], [startDate], [employee_id]) VALUES (4, 3, CAST(N'2021-04-14T00:00:00.000' AS DateTime), N'thuoc 3', 12, CAST(N'2021-04-14T00:00:00.000' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[Drugs] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([type], [employeeId], [address], [dob], [email], [familyName], [fatherName], [firstName], [gender], [joinDate], [password], [phone], [photo], [username], [CATEGORY_ID]) VALUES (N'Admin', 1, N'Hue', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'salah323@outlook.com', N'Phuoc', N'Tong', N'huy', N'Male', CAST(N'2000-01-07T00:00:00.000' AS DateTime), N'ICy5YqxZB1uWSwcVLSNLcA==', N'0362529468', NULL, N'admin', NULL)
INSERT [dbo].[Employee] ([type], [employeeId], [address], [dob], [email], [familyName], [fatherName], [firstName], [gender], [joinDate], [password], [phone], [photo], [username], [CATEGORY_ID]) VALUES (N'Accountant', 3, N'can tho', CAST(N'2020-12-21T00:00:00.000' AS DateTime), N'tpgiahuy55@gmail.com', N'Tong', N'Phuoc', N'Bao', N'male', CAST(N'2021-04-12T00:00:00.000' AS DateTime), N'ICy5YqxZB1uWSwcVLSNLcA==', N'0369888', NULL, N'phuocbao', 4)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([messageId], [messageBody], [messageDate], [messageStatus], [subject], [from_employee_id], [patient_id], [fto_employee_id]) VALUES (3, N'receriptiob send  no message', CAST(N'2021-04-13T00:00:00.000' AS DateTime), 0, N'receriptiob send ', 8, 2, 1)
INSERT [dbo].[Messages] ([messageId], [messageBody], [messageDate], [messageStatus], [subject], [from_employee_id], [patient_id], [fto_employee_id]) VALUES (4, N'nurse send body message', CAST(N'2021-04-13T00:00:00.000' AS DateTime), 0, N'nurse send ', 12, 3, 7)
INSERT [dbo].[Messages] ([messageId], [messageBody], [messageDate], [messageStatus], [subject], [from_employee_id], [patient_id], [fto_employee_id]) VALUES (5, N'admin gioi day', CAST(N'2021-04-13T00:00:00.000' AS DateTime), 0, N'gui admin', 9, 3, 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[NextOfKin] ON 

INSERT [dbo].[NextOfKin] ([nextOfKinId], [address], [fullName], [phone], [relationship]) VALUES (2, N'032522', N'Benh1', N'02588552', N'no re')
INSERT [dbo].[NextOfKin] ([nextOfKinId], [address], [fullName], [phone], [relationship]) VALUES (3, N'61 LE minh', N'Benh2', N'02200011', N'no resd')
SET IDENTITY_INSERT [dbo].[NextOfKin] OFF
SET IDENTITY_INSERT [dbo].[NursesServiceTimes] ON 

INSERT [dbo].[NursesServiceTimes] ([nurseServiceTimeID], [department], [serviceDate], [nurse_id], [shiftTime_id]) VALUES (1, N'QQ', CAST(N'2021-12-02T00:00:00.000' AS DateTime), 5, 2)
INSERT [dbo].[NursesServiceTimes] ([nurseServiceTimeID], [department], [serviceDate], [nurse_id], [shiftTime_id]) VALUES (2, N'QL', CAST(N'2021-04-02T00:00:00.000' AS DateTime), 7, 3)
SET IDENTITY_INSERT [dbo].[NursesServiceTimes] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([patientId], [address], [dob], [email], [familyName], [fatherName], [gender], [joiningDate], [name], [phone], [bloodGroup_id], [nextOfKin_id]) VALUES (2, N'can tho', CAST(N'2021-04-20T00:00:00.000' AS DateTime), N'benh1de140306@fpt.edu.vn', N'FA1', N'PA1', N'male', CAST(N'2021-04-13T11:25:07.747' AS DateTime), N'benh1', CAST(253325 AS Numeric(19, 0)), 2, 2)
INSERT [dbo].[Patients] ([patientId], [address], [dob], [email], [familyName], [fatherName], [gender], [joiningDate], [name], [phone], [bloodGroup_id], [nextOfKin_id]) VALUES (3, N'da nang', CAST(N'2021-04-14T00:00:00.000' AS DateTime), N'benh2e140306@fpt.edu.vn', N'FA2', N'PA2', N'male', CAST(N'2021-04-13T11:34:25.980' AS DateTime), N'benh2', CAST(362255 AS Numeric(19, 0)), 1, 3)
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Qualifications] ON 

INSERT [dbo].[Qualifications] ([qualId], [degree], [instituteName], [qualificationDate], [qualificationName], [employee_id]) VALUES (5, N'Master', N'TWhue', N'2004', N'good', 2)
INSERT [dbo].[Qualifications] ([qualId], [degree], [instituteName], [qualificationDate], [qualificationName], [employee_id]) VALUES (6, N'de2', N'In2', N'2002', N'qu2', NULL)
INSERT [dbo].[Qualifications] ([qualId], [degree], [instituteName], [qualificationDate], [qualificationName], [employee_id]) VALUES (7, N'de1', N'In1', N'2004', N'qu1', NULL)
SET IDENTITY_INSERT [dbo].[Qualifications] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([roomId], [numberOfAvailableBeds], [numberOfBeds], [roomNumber], [roomType_id]) VALUES (1, 3, 2, 2, 2)
INSERT [dbo].[Rooms] ([roomId], [numberOfAvailableBeds], [numberOfBeds], [roomNumber], [roomType_id]) VALUES (2, 4, 3, 3, 4)
INSERT [dbo].[Rooms] ([roomId], [numberOfAvailableBeds], [numberOfBeds], [roomNumber], [roomType_id]) VALUES (3, 5, 5, 5, 3)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([roomTypeId], [roomCost], [typeOfroom]) VALUES (1, 550, N'2 bed')
INSERT [dbo].[RoomTypes] ([roomTypeId], [roomCost], [typeOfroom]) VALUES (2, 5150, N'3 bed')
INSERT [dbo].[RoomTypes] ([roomTypeId], [roomCost], [typeOfroom]) VALUES (3, 55550, N'4 bed')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
SET IDENTITY_INSERT [dbo].[ShiftTimes] ON 

INSERT [dbo].[ShiftTimes] ([shiftTimeID], [fromTime], [toTime]) VALUES (1, N'6 AM', N'2 PM')
INSERT [dbo].[ShiftTimes] ([shiftTimeID], [fromTime], [toTime]) VALUES (2, N'2 PM', N'10 PM')
INSERT [dbo].[ShiftTimes] ([shiftTimeID], [fromTime], [toTime]) VALUES (3, N'10 PM', N'6 AM')
SET IDENTITY_INSERT [dbo].[ShiftTimes] OFF
SET IDENTITY_INSERT [dbo].[WorkExperinces] ON 

INSERT [dbo].[WorkExperinces] ([workExperienceId], [endDate], [nameOfOrganization], [position], [startDate], [employee_id]) VALUES (5, N'2004', N'ok4', N'ok5', N'2002', 2)
INSERT [dbo].[WorkExperinces] ([workExperienceId], [endDate], [nameOfOrganization], [position], [startDate], [employee_id]) VALUES (6, N'2000', N'or1', N'po1', N'1981', NULL)
INSERT [dbo].[WorkExperinces] ([workExperienceId], [endDate], [nameOfOrganization], [position], [startDate], [employee_id]) VALUES (7, N'2016', N'OJT', N'PA', N'2015', NULL)
SET IDENTITY_INSERT [dbo].[WorkExperinces] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_c36bcfbt3en8tywn47cyy0d7t]    Script Date: 14/04/2021 11:28:31 SA ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UK_c36bcfbt3en8tywn47cyy0d7t] UNIQUE NONCLUSTERED 
(
	[categoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_2y5g3ij0kgtvrlp3rtmjlabj4]    Script Date: 14/04/2021 11:28:31 SA ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [UK_2y5g3ij0kgtvrlp3rtmjlabj4] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookBeds]  WITH CHECK ADD  CONSTRAINT [FK_qu3p7g6pf6ow71b76m1nucl2k] FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([roomId])
GO
ALTER TABLE [dbo].[BookBeds] CHECK CONSTRAINT [FK_qu3p7g6pf6ow71b76m1nucl2k]
GO
ALTER TABLE [dbo].[BookBeds]  WITH CHECK ADD  CONSTRAINT [FK_rm1lmp5mbi9ps1cjf71r9ldgn] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patientId])
GO
ALTER TABLE [dbo].[BookBeds] CHECK CONSTRAINT [FK_rm1lmp5mbi9ps1cjf71r9ldgn]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_4yu8qnafg32rift1jcehtprdh] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_4yu8qnafg32rift1jcehtprdh]
GO
ALTER TABLE [dbo].[Diseases]  WITH CHECK ADD  CONSTRAINT [FK_m7sy3wh5iojsolrgh09vf4rrd] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patientId])
GO
ALTER TABLE [dbo].[Diseases] CHECK CONSTRAINT [FK_m7sy3wh5iojsolrgh09vf4rrd]
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD  CONSTRAINT [FK_tn591ajueu4mg0ni4hf4oe80f] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Drugs] CHECK CONSTRAINT [FK_tn591ajueu4mg0ni4hf4oe80f]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_1ij9c37aplvry8uw0t9kal713] FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[Categories] ([categoryId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_1ij9c37aplvry8uw0t9kal713]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_hyngld4uq25dis7qwjv4gaai6] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patients] ([patientId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_hyngld4uq25dis7qwjv4gaai6]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_jb0o2axh178fpd9bid9o3fjia] FOREIGN KEY([fto_employee_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_jb0o2axh178fpd9bid9o3fjia]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_pm6jv46oakk2ypn2y5dolp5nn] FOREIGN KEY([from_employee_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_pm6jv46oakk2ypn2y5dolp5nn]
GO
ALTER TABLE [dbo].[NursesServiceTimes]  WITH CHECK ADD  CONSTRAINT [FK_4g8kyokgnf3999ejcth3xqig1] FOREIGN KEY([nurse_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[NursesServiceTimes] CHECK CONSTRAINT [FK_4g8kyokgnf3999ejcth3xqig1]
GO
ALTER TABLE [dbo].[NursesServiceTimes]  WITH CHECK ADD  CONSTRAINT [FK_aha35lfa7d0b09r19x2kslkxt] FOREIGN KEY([shiftTime_id])
REFERENCES [dbo].[ShiftTimes] ([shiftTimeID])
GO
ALTER TABLE [dbo].[NursesServiceTimes] CHECK CONSTRAINT [FK_aha35lfa7d0b09r19x2kslkxt]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_r3djof6dp4dk0qpbktaksq2xx] FOREIGN KEY([nextOfKin_id])
REFERENCES [dbo].[NextOfKin] ([nextOfKinId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_r3djof6dp4dk0qpbktaksq2xx]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_rclpblb1a5ncfnyaokaq8hp21] FOREIGN KEY([bloodGroup_id])
REFERENCES [dbo].[BloodGroups] ([bloodGroupId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_rclpblb1a5ncfnyaokaq8hp21]
GO
ALTER TABLE [dbo].[Qualifications]  WITH CHECK ADD  CONSTRAINT [FK_9luys3eq0h0xkjm2ycexh0af5] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[Qualifications] CHECK CONSTRAINT [FK_9luys3eq0h0xkjm2ycexh0af5]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dn25exuw0iah3ilbpdn86urv8] FOREIGN KEY([roomType_id])
REFERENCES [dbo].[RoomTypes] ([roomTypeId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dn25exuw0iah3ilbpdn86urv8]
GO
ALTER TABLE [dbo].[SelledDrugs]  WITH CHECK ADD  CONSTRAINT [FK_8o74y98x7cdoea7yec4ogr4mf] FOREIGN KEY([pharmatiest_ID])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[SelledDrugs] CHECK CONSTRAINT [FK_8o74y98x7cdoea7yec4ogr4mf]
GO
ALTER TABLE [dbo].[SelledDrugs]  WITH CHECK ADD  CONSTRAINT [FK_i1n5uhbk1huwon9l81qht4tqf] FOREIGN KEY([patient_ID])
REFERENCES [dbo].[Patients] ([patientId])
GO
ALTER TABLE [dbo].[SelledDrugs] CHECK CONSTRAINT [FK_i1n5uhbk1huwon9l81qht4tqf]
GO
ALTER TABLE [dbo].[SelledDrugs]  WITH CHECK ADD  CONSTRAINT [FK_lnarp09kx4ij3a5c39a3r2ya0] FOREIGN KEY([Drug_ID])
REFERENCES [dbo].[Drugs] ([drugId])
GO
ALTER TABLE [dbo].[SelledDrugs] CHECK CONSTRAINT [FK_lnarp09kx4ij3a5c39a3r2ya0]
GO
ALTER TABLE [dbo].[WorkExperinces]  WITH CHECK ADD  CONSTRAINT [FK_spebratfiatbgfj6eymrkm5wj] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employeeId])
GO
ALTER TABLE [dbo].[WorkExperinces] CHECK CONSTRAINT [FK_spebratfiatbgfj6eymrkm5wj]
GO
